.btn-spotify {
  background-color: #4caf50;
  color: white;
  border: 1px solid black;
  filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1))
    drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));
  border-radius: 9999px;
  padding: 10px;
}

.btn-spotify:hover {
  filter: drop-shadow(0 1px 2px rgb(25 20 20 / 0.3))
    drop-shadow(0 1px 1px rgb(25 20 20 / 0.6));
}

.bg-cyan-925 {
  background-color: rgb(19, 67, 85);
}

.text-xxs {
    font-size: 0.5rem;
}

h1 {
  font-size: 86px;
  max-width: 100%;
  transition: font-size 0.4s ease;
}

th, td {
  padding: 0.5rem 0;
}

tr {
  padding: 1rem 0;
}
