<div class="px-10">
    <h2 class="text-center text-5xl text-lime-600 my-6">TRACKS</h2>
    <div class="grid gap-4 justify-center">
        <div *ngFor="let track of tracks"
            class="bg-slate-300 p-8 rounded-lg flex flex-col justify-between items-center gap-4">
            <h2 class="text-3xl uppercase"> {{ track.name }} </h2>
            <div class="flex w-full justify-between items-center">
                <div class="flex gap-2 items-center w-full">
                    <img src="{{track.album!.images[0].url}}" alt="" class="size-24">
                    <div class="flex flex-col gap-2">
                        <p class="font-black">{{track.album?.name}}</p>
                        <div *ngFor="let artist of track.artists" class="flex gap-2">
                            <p>{{artist.name}}</p>
                        </div>
                    </div>
                </div>
                <a href="{{track.external_urls}}" target="_blank" rel="noopener noreferrer"
                class="btn-spotify w-1/5 text-center">Ir a Spotify</a>
            </div>
        </div>
    </div>
</div>