<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Platinas</title>
</head>

<body>
  <div class="flex flex-col h-screen bg-cyan-950">
    <div *ngIf="!onLogin">
      <app-navbar></app-navbar>
    </div>
    <div class="flex h-screen overflow-hidden gap-2" [ngClass]="!onLogin ? 'px-2' : ''">
      <div *ngIf="!onLogin" class="w-1/5 h-full bg-cyan-900 rounded-md text-white">
        <app-library></app-library>
      </div>
      <div [ngClass]="!onLogin ? 'bg-cyan-900 rounded-md w-4/5 h-full' : ''">
        <router-outlet></router-outlet>
      </div>
    </div>
    <div *ngIf="!onLogin">
      <app-player></app-player>
    </div>
  </div>
</body>

</html>